<a href="https://colab.research.google.com/github/Nicolas-Taylor/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-make-features/Nicolas_Taylor_LS_DS14_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [1]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-03-10 19:59:54--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [               <=>  ]  21.71M   763KB/s    in 29s

2020-03-10 20:00:24 (756 KB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22763850]

In [2]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [5]:
#Reads in the data and removes the first row as well as the last two rows

import pandas as pd

df=pd.read_csv('LoanStats_2018Q4.csv', skiprows=1, skipfooter=2)

print(df.shape)
df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

(128284, 144)

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [22]:
#Removes the text " months" from every entry in the column "term"

def remove_months(months):
  return (months.str.strip(' months'))

df['term'] = remove_months(df['term'])
df.head()

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [39]:
#Changes the data type of the entire "term" column to int

df['term'] = df['term'].astype(int)
df.dtypes[0:10]

id                 float64
member_id          float64
loan_amnt            int64
funded_amnt          int64
funded_amnt_inv    float64
term                 int64
int_rate            object
installment        float64
grade               object
sub_grade           object
dtype: object

In [50]:
#Creates a new column that will display a 1 if the loan status is
#Fully Paid or Current and will display a 0 if it isn't

def loan_is_greater(status):
  if status == 'Fully Paid' or status == 'Current':
    return 1
  else:
    return 0

df['loan_status_is_great'] = df['loan_status'].apply(loan_is_greater)

df.head()

   id  member_id  ...  settlement_term  loan_status_is_great
0 NaN        NaN  ...              NaN                     1
1 NaN        NaN  ...              NaN                     1
2 NaN        NaN  ...              NaN                     1
3 NaN        NaN  ...              NaN                     0
4 NaN        NaN  ...              NaN                     1

[5 rows x 145 columns]

In [62]:
#Searches for date columns

[col for col in df if col.endswith('_d')]

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [52]:


df['last_pymnt_d']

0         May-2019
1         Feb-2020
2         Feb-2019
3         Oct-2019
4         Feb-2020
            ...
128279    Dec-2018
128280    Feb-2020
128281    Feb-2020
128282    Feb-2020
128283    Feb-2020
Name: last_pymnt_d, Length: 128284, dtype: object

In [61]:


df['last_pymnt_d'] = pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True)

df.dtypes[40: 50]

total_rec_prncp                      float64
total_rec_int                        float64
total_rec_late_fee                   float64
recoveries                           float64
collection_recovery_fee              float64
last_pymnt_d                  datetime64[ns]
last_pymnt_amnt                      float64
next_pymnt_d                          object
last_credit_pull_d                    object
collections_12_mths_ex_med             int64
dtype: object

In [63]:
df['last_pymnt_d'].dt.month

0          5.0
1          2.0
2          2.0
3         10.0
4          2.0
          ...
128279    12.0
128280     2.0
128281     2.0
128282     2.0
128283     2.0
Name: last_pymnt_d, Length: 128284, dtype: float64

In [0]:
df['last_pymnt_d_month'] = df['last_pymnt_d'].dt.month

In [66]:
df['last_pymnt_d'].dt.year

0         2019.0
1         2020.0
2         2019.0
3         2019.0
4         2020.0
           ...
128279    2018.0
128280    2020.0
128281    2020.0
128282    2020.0
128283    2020.0
Name: last_pymnt_d, Length: 128284, dtype: float64

In [0]:
df['last_pymnt_d_year'] = df['last_pymnt_d'].dt.year

In [75]:
df.head()

   id  member_id  ...  last_pymnt_d_month  last_pymnt_d_year
0 NaN        NaN  ...                 5.0             2019.0
1 NaN        NaN  ...                 2.0             2020.0
2 NaN        NaN  ...                 2.0             2019.0
3 NaN        NaN  ...                10.0             2019.0
4 NaN        NaN  ...                 2.0             2020.0

[5 rows x 147 columns]

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01